/* Various variables */
:root {
	--black: #040c06; /* rgb(4, 12, 6) */
	--col01: #112318; /* rgb(17, 35, 24) */
	--col02: #1e3a29; /* rgb(30, 58, 41) */
	--col03: #305d42; /* rgb(48, 93, 66) */
	--col04: #4d8061; /* rgb(77, 128, 97) */
	--col05: #89a257; /* rgb(137, 162, 87) */
	--col06: #bedc7f; /* rgb(190, 220, 127) */
	--white: #eeffcc; /* rgb(238, 255, 204) */
}
@font-face { font-family: Adventurer; src: url(media/fonts/Adventurer.ttf); font-display: swap; }

html {
	overscroll-behavior: none;
}

body {
	height: 100vh;
	align-content: center;
	margin: 0;

	background-color: var(--black);
	image-rendering: crisp-edges;

	color: var(--white);
	font-family: Adventurer, Verdana;
}

body::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;

	background-image: url("/media/lost/lostShreds.png");
	background-repeat: repeat;
	background-size: 64px;
	/* The mask is made up of two layers, the image and a solid layer used to exclude the image */
	mask: url("media/lost/allSeer.png") center no-repeat, linear-gradient(#000 0 0);
	mask-composite: exclude;
	mask-size: 636px;
}

body > * {
	width: 100%;
	text-align: center;
	text-shadow:
		2px 0 var(--black),
		-2px 0 var(--black),
		0 2px var(--black),
		0 -2px var(--black),
		0 0 4px var(--black);
}

.title {
	margin: 0;
}

a {
	color: var(--col06);
}

a:link {
	color: var(--col06);
}

a:visited {
	color: var(--col04);
}

a:hover, a:focus, a:active {
	color: var(--white);
}

a:focus-visible {
	outline: none;
	text-shadow: 0 0 8px var(--col06);
}

#page-palette {
	height: 4px;

	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;

	background: radial-gradient(circle at center, var(--white) 12.5%,
		var(--col06) 12.5% 25%,
		var(--col05) 25% 37.5%,
		var(--col04) 37.5% 50%,
		var(--col03) 50% 62.5%,
		var(--col02) 62.5% 75%,
		var(--col01) 75% 87.5%,
		var(--black) 87.5%
	);
	border-top: solid var(--black) 2px;
}