/* Various variables */
:root {
	--black: #0d2b45;
	--col01: #203c56;
	--col02: #544e68;
	--col03: #8d697a;
	--col04: #d08159;
	--col05: #ffaa5e;
	--col06: #ffd4a3;
	--white: #ffecd6;
}
@font-face { font-family: Adventurer; src: url(media/fonts/Adventurer.ttf); }
@font-face { font-family: LastPriestess; src: url(media/fonts/LastPriestess.ttf); }
@font-face { font-family: KiwiSoda; src: url(media/fonts/KiwiSoda.ttf); }
@font-face { font-family: Battlenet; src: url(media/fonts/Battlenet.ttf); }



/* Tag specific styling */
html, body {
	max-width: 100vw;
	max-height: 100vh;
	height: 100vh;
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: var(--col01) var(--black);
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background-color: var(--black);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--col01);
}

body {
	background-color: var(--black);
	background-image: url("/media/yard/familiarSquares.png");
	background-repeat: repeat;
	background-size: 16px;
	image-rendering: crisp-edges;
	color: var(--black);
	font-family: KiwiSoda, Verdana;
	cursor: url("/media/yard/cursor.png"), auto;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: var(--white);
	background: linear-gradient(110deg, var(--white) 16.5rem,
		var(--col06) 16.5rem 17.5rem,
		var(--col05) 17.5rem 18.5rem,
		var(--col04) 18.5rem 19.5rem,
		var(--col03) 19.5rem 20.5rem,
		var(--col02) 20.5rem 21.5rem,
		var(--col01) 21.5rem 23.5rem,
		var(--black) 23.5rem
	); /* So it looks like the gradient can't keep consistency by itself, thus the weird fucking pixel values :( */
}

main {
	padding: 2rem;
	display: grid;
	grid-template-columns: 48rem auto;
}

footer {
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: auto;
	font-family: Battlenet;
}

footer > .footer-txt {
	margin: 0.5em 0;
}

ul {
	margin: 0.4rem 0;
	padding-inline-start: 1.5rem;
}

li::marker {
	content: "~ ";
}
/* End of tag specific styling */



.body-centered {
	display: flex;
	flex-direction: column;
}

#page-palette {
	z-index: 5;
	width: 8px;
	height: 100vh;

	position: fixed;
	left: 0;

	background: linear-gradient(to bottom, var(--black) 12.5%,
		var(--col01) 12.5% 25%,
		var(--col02) 25% 37.5%,
		var(--col03) 37.5% 50%,
		var(--col04) 50% 62.5%,
		var(--col05) 62.5% 75%,
		var(--col06) 75% 87.5%,
		var(--white) 87.5%
	);
	border-right: solid var(--black) 2px;
}

#neon-sign {
	width: 16.5rem;
	height: 5.5rem;
	padding-left: 24px;
	user-select: none;
}

#neon-sign > h1 {
	margin-bottom: 0;
	font-size: 3rem;
	color: var(--col01);
	text-shadow: 2px 2px 0 var(--col05);
}

#neon-sign > h1 > span {
	font-size: 1.5em;
}

#neon-sign > h4 {
	margin: 1rem 0 -3.75rem 2.5rem;
	font-family: LastPriestess;
	color: var(--col01);
	text-shadow: -1px -1px 0 var(--col05);
}

#neon-sign > h6 {
	margin: -1.15rem 0 0 8rem;
	font-family: LastPriestess;
	color: var(--col02);
	text-shadow: 0px 2px 0 var(--col05);
	transform: skewX(-10deg);
	animation: pulsate 1.5s linear 0s infinite alternate;
}

#news-roll {
	width: calc(100% - 23rem);
	height: 100%;
	position: relative;
	color: var(--white);
	overflow: clip;
	align-content: center;
}

#news-roll::before, #news-roll::after {
	z-index: 1;
	display: block;
	width: 2rem;
	height: 5.5rem;
	position: absolute;
	top: 0;
	left: -1rem;
	content: "";
	background-color: var(--col01);
	transform: skewX(-20deg);
}

#news-roll::after {
	left: unset;
	right: -1rem;
}

.roll {
	white-space: nowrap;
	overflow: clip;
	display: inline-block;
	animation: roll-news 15s linear infinite;
	font-family: LastPriestess;
}

.roll > * {
	display: inline-block;
}

#smol-about {
	font-family: LastPriestess, KiwiSoda;
	background: linear-gradient(to top, var(--col02) 16px, var(--col06) 128px, var(--white) 256px);
	background-origin: border-box;
	border: solid 2px var(--col04);
	border-top-color: var(--col05);
	border-left-color: var(--col05);
	padding-top: 16px;
}

#smol-about > div > p {
	margin: 0.2rem 0;
}

.home-title {
	margin: 0;
	text-shadow: -2px 0 var(--col06), 2px 0 var(--col05);
	line-height: 2rem;
}

#nav-head {
	margin-bottom: 2rem;
	background-image: linear-gradient(to right, var(--white) 30rem, var(--col05));
}

#nav-tools {
	left: 12rem;
	border-color: var(--col04);
	font-family: BattleNet, LastPriestess;
	background-image: linear-gradient(to right, var(--white) 12rem, var(--col04));
	text-decoration: line-through;
	text-decoration-thickness: 2px;
}

#nav-tools:hover {
	left: 11rem;
}

#nav-lib {
	left: 9rem;
	border-color: var(--col01);
	font-family: Adventurer, LastPriestess;
	background-image: linear-gradient(to right, var(--white) 20rem, var(--col01));
	text-decoration: line-through;
	text-decoration-thickness: 2px;
}

#nav-lib:hover {
	left: 8rem;
}

nav > div {
	transition: left .5s ease;
}

nav > .nav-item-hi, nav > .nav-item-lo {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	position: relative;
	left: 3rem;
	margin-bottom: 1rem;
	padding-left: 1.5rem;
	border-left: solid 4px var(--col05);
}

.nav-o-icon {
	display: none;
}

.hov:hover {
	cursor: url("/media/yard/pointer.png") 4 0, pointer;
}

.hov:hover .nav-o-icon {
	display: revert;
}

.hov:hover span, .hov:hover .nav-c-icon {
	display: none;
}

#nav-tools.hov:hover > h2::before {
	content: "Grab the toolbox!!";
}

#nav-lib.hov:hover > h2::before {
	content: "Enter the library";
}

.nav-item-hi, .nav-item-lo > * {
	transform: skewX(20deg);
}

.nav-item-lo, .nav-item-hi > * {
	transform: skewX(-20deg);
}

.back-txt-highlight {
	padding: 8px 16px;
	background-color: var(--white);
}

.front-col-left {
	width: 45%;
	text-align: right;
	line-height: 1.2em;
}

.front-col-sep {
	height: 100%;
	text-align: center;
	align-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 0;
	margin-bottom: 0;
}

.front-col-right {
	width: 45%;
	text-align: left;
	line-height: 1.2em;
}



/* Animations */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulsate {
    100% {
        transform: scale(1.15);
    }
}

@keyframes roll-news {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}
/* Animations end */



.webtn {
	width: 88px;
	height: 31px;
	image-rendering: auto;
}



/* Queries */
@media (max-width: 1400px) {
	main {
		grid-template-columns: 24rem auto;
	}
}

@media (max-width: 960px) {
	main {
		grid-template-columns: unset;
		gap: 2.5rem;
	}
}

@media (width >= 700px) and (width <= 960px) {
	#smol-about {
		display: flex;
		gap: 1rem;
		background: unset;
		background-color: var(--white);
	}

	#smol-about > center {
		align-content: end;
	}
}

@media (max-width: 700px) {
	html, body {
		font-size: 14px;
	}

	nav {
		font-size: 12px;
	}

	#nav-head {
		width: 110%;
		left: 1rem;
		margin-bottom: 1rem;
		background-image: linear-gradient(to right, var(--white) 20rem, var(--col05));
	}

	#nav-tools {
		left: 6rem;
	}

	#nav-lib {
		left: 4.5rem;
	}
}