/* Various variables */
:root {
	--black: #0d2b45; /* rgb(13, 43, 69) */
	--col01: #203c56; /* rgb(32, 60, 86) */
	--col02: #544e68; /* rgb(84, 78, 104) */
	--col03: #8d697a; /* rgb(141, 105, 122) */
	--col04: #d08159; /* rgb(208, 129, 89) */
	--col05: #ffaa5e; /* rgb(255, 170, 94) */
	--col06: #ffd4a3; /* rgb(255, 212, 163) */
	--white: #ffecd6; /* rgb(255, 236, 214) */
}
@font-face { font-family: Adventurer; src: url(media/fonts/Adventurer.ttf); font-display: swap; }
@font-face { font-family: LastPriestess; src: url(media/fonts/LastPriestess.ttf); font-display: swap; }
@font-face { font-family: KiwiSoda; src: url(media/fonts/KiwiSoda.ttf); font-display: swap; }
@font-face { font-family: Battlenet; src: url(media/fonts/Battlenet.ttf); font-display: swap; }



/* Tag specific styling */
html, body {
	max-width: 100vw;
	max-height: 100vh;
	height: 100vh;
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: var(--col06) var(--black);
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background-color: var(--black);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--col06);
}

body {
	background-color: var(--black);
	background-image: url("/media/yard/familiarSquares.png");
	background-repeat: repeat;
	background-size: 16px;
	image-rendering: pixelated;
	color: var(--black);
	font-family: KiwiSoda, Verdana;
	cursor: url("/media/yard/cursor.png"), auto;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: var(--white);
	background: linear-gradient(110deg, var(--white) 16.5rem,
		var(--col06) 16.5rem 17.5rem,
		var(--col05) 17.5rem 18.5rem,
		var(--col04) 18.5rem 19.5rem,
		var(--col03) 19.5rem 20.5rem,
		var(--col02) 20.5rem 21.5rem,
		var(--col01) 21.5rem 23.5rem,
		var(--black) 23.5rem
	); /* So it looks like the gradient can't keep consistency by itself, thus the weird fucking pixel values :( */
}

main {
	padding: 2.5rem;
	display: grid;
	grid-template-columns: auto 32rem;
	gap: 2.5rem;
}

footer {
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: auto;
	font-family: Battlenet;
}

footer > .footer-txt {
	margin: 0.5em 0;
}

ul {
	margin: 0.4rem 0;
	padding-inline-start: 1.5rem;
}

li::marker {
	content: "~ ";
}

a, a:link, a:visited, a:hover, a:focus, a:active {
	color: inherit;
	text-decoration: none;
	cursor: url("/media/yard/pointer.png") 8 0, pointer;
}

a:focus-visible {
	outline: none;
	box-shadow: 0 0 0 2px var(--col05), 0 0 0 3px var(--white);
}
/* End of tag specific styling */



.body-centered {
	display: flex;
	flex-direction: column;
}

#page-palette {
	z-index: 5;
	width: 8px;
	height: 100vh;

	position: fixed;
	left: 0;

	background: linear-gradient(to bottom, var(--black) 12.5%,
		var(--col01) 12.5% 25%,
		var(--col02) 25% 37.5%,
		var(--col03) 37.5% 50%,
		var(--col04) 50% 62.5%,
		var(--col05) 62.5% 75%,
		var(--col06) 75% 87.5%,
		var(--white) 87.5%
	);
	border-right: solid var(--black) 2px;
}

#neon-sign {
	width: 16.5rem;
	height: 5.5rem;
	padding-left: 24px;
	user-select: none;
}

#neon-sign > h1 {
	margin-bottom: 0;
	font-size: 3rem;
	color: var(--col01);
	text-shadow: 2px 2px 0 var(--col05);
}

#neon-sign > h1 > span {
	font-size: 1.5em;
}

#neon-sign > h4 {
	margin: 1rem 0 -3.75rem 2.5rem;
	font-family: LastPriestess;
	color: var(--col01);
	text-shadow: -1px -1px 0 var(--col05);
}

#neon-sign > h6 {
	margin: -1.15rem 0 0 8rem;
	font-family: LastPriestess;
	color: var(--col02);
	text-shadow: 0px 2px 0 var(--col05);
	transform: skewX(-10deg);
	animation: pulsate 1.5s linear 0s infinite alternate;
}

#news-roll {
	width: calc(100% - 23rem);
	height: 100%;
	position: relative;
	color: var(--white);
	overflow: clip;
	align-content: center;
}

#news-roll::before, #news-roll::after {
	z-index: 1;
	display: block;
	width: 2rem;
	height: 5.5rem;
	position: absolute;
	top: 0;
	left: -1rem;
	content: "";
	background-color: var(--col01);
	transform: skewX(-20deg);
}

#news-roll::after {
	left: unset;
	right: -1rem;
}

.roll {
	white-space: nowrap;
	display: inline-block;
	line-height: 0;
	animation: roll-news 40s linear infinite;
	font-family: LastPriestess;
}

.roll > * {
	display: inline-block;
	line-height: 0;
	image-rendering: auto;
}

.roll > div * {
	vertical-align: middle;
	transition: transform ease .25s;
}

.roll > div img:hover {
	transform: scale(1.075);
}

.back-txt-highlight.panel {
	border: solid 2px var(--col04);
	border-top-color: var(--col05);
	border-left-color: var(--col05);
	font-family: LastPriestess, Battlenet, Kiwisoda;
}

.left-col, .right-col {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

#smol-about {
	height: fit-content;
	grid-row: span 2;
	background: linear-gradient(to top, var(--col02) 16px, var(--col06) 128px, var(--white) 256px);
	background-origin: border-box;
}

#smol-about p {
	margin: 0.2rem 0;
}

#goodies {
	image-rendering: auto;

	p {
		margin: 0;
	}

	div {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin-bottom: 1rem;
	}

	img {
		width: 88px;
		height: 31px;
	}

	textarea {
		flex-grow: 1;
		resize: none;
		background-color: var(--black);
		color: var(--col06);
		font-family: Battlenet;
		border: solid 2px var(--col04);
		border-radius: 0;
	}
}

#news {
	height: fit-content;
	background: linear-gradient(to bottom left, var(--col01) -15%, var(--white) 50%);

	a {
		color: var(--col04);
		text-decoration: revert;
	}
}

.home-title {
	margin: 0.25rem 0 1rem 0;
	border-bottom: solid 2px var(--col05);
	text-shadow: -2px 0 var(--col06), 2px 0 var(--col05);
	line-height: 2rem;
}

nav .home-title {
	margin: 0;
	border: none;
}

#nav-head {
	width: 105%;
	margin-bottom: 1rem;
	background-image: linear-gradient(to right, var(--white) 30rem, var(--col05));
}

#nav-tools {
	left: 10rem;
	border-color: var(--col04);
	font-family: BattleNet, LastPriestess;
	background-image: linear-gradient(to right, var(--white) 12rem, var(--col04));
}

#nav-tools:hover {
	left: 9rem;
}

#nav-lib {
	left: 7rem;
	border-color: var(--col01);
	font-family: Adventurer, LastPriestess;
	background-image: linear-gradient(to right, var(--white) 20rem, var(--col01));
}

#nav-lib:hover {
	left: 6rem;
}

#nav-troika {
	left: 8rem;
	border-color: var(--col03);
	font-family: LastPriestess;
	background-image: linear-gradient(to right, var(--white) 22rem, var(--col03));
}

#nav-troika:hover {
	left: 7rem;
}

#nav-neocities {
	margin-bottom: 0;
	left: 10rem;
	border-color: var(--col05);
	font-family: LastPriestess;
	background-image: linear-gradient(to right, var(--white) 16rem, var(--col05));
}

#nav-neocities:hover {
	left: 8rem;
}

nav {
	height: fit-content;
}

nav > * {
	transition: left .5s ease;
}

nav > .nav-item-hi, nav > .nav-item-lo {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	position: relative;
	left: 1.5rem;
	margin-bottom: 0.5rem;
	padding-left: 1.5rem;
	border-left: solid 4px var(--col05);
}

.nav-o-icon {
	display: none;
}

.hov:hover .nav-o-icon {
	display: revert;
}

.hov:hover span, .hov:hover .nav-c-icon {
	display: none;
}

#nav-tools.hov:hover > h2::before {
	content: "Grab the toolbox!!";
}

#nav-lib.hov:hover > h2::before {
	content: "Enter the library";
}

.nav-item-hi, .nav-item-lo > * {
	transform: skewX(20deg);
}

.nav-item-lo, .nav-item-hi > * {
	transform: skewX(-20deg);
}

.back-txt-highlight {
	padding: 8px 16px;
	background-color: var(--white);
}

.front-col-left {
	width: 45%;
	text-align: right;
	line-height: 1.2em;
}

.front-col-sep {
	height: 100%;
	text-align: center;
	align-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 0;
	margin-bottom: 0;
}

.front-col-right {
	width: 45%;
	text-align: left;
	line-height: 1.2em;
}



/* Animations */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulsate {
    100% {
        transform: scale(1.15);
    }
}

@keyframes roll-news {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}
/* Animations end */



.webtn {
	width: 88px;
	height: 31px;
	image-rendering: auto;
}



/* Queries */
@media (max-width: 960px) {
	main {
		grid-template-columns: unset;
		gap: 2.5rem;
	}
}

@media (width >= 700px) and (width <= 960px) {
	#smol-about {
		display: flex;
		gap: 1rem;
		background: unset;
		background-color: var(--white);
	}

	#smol-about > center {
		align-content: end;
	}
}

@media (max-width: 700px) {
	html, body {
		font-size: 14px;
	}

	nav {
		font-size: 12px;
	}

	#nav-head {
		width: 110%;
		left: 1rem;
		margin-bottom: 1rem;
		background-image: linear-gradient(to right, var(--white) 20rem, var(--col05));
	}

	#nav-tools {
		left: 6rem;
	}

	#nav-lib {
		left: 4.5rem;
	}

	.left-col {
		order: 1;
	}
}