/* Various variables */
:root {
	--black: #252323;
	--col01: #ed1969;
	--white: #eeebd0;
}
@font-face { font-family: Atreyu; src: url(../media/fonts/Atreyu.otf); font-display: swap; }
@font-face { font-family: Averia Libre; src: url(../media/fonts/AveriaLibre.ttf); font-display: swap; }
@font-face { font-family: Averia Serif Libre; src: url(../media/fonts/AveriaSerifLibre.ttf); font-display: swap; }



/* Tag specific styling */
html, body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: var(--col01) var(--black);
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background-color: var(--black);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--col01);
}

body {
	color: var(--black);
	background-color: var(--black);
	font-family: Averia Libre;
	display: flex;
	overflow: auto;
}

a {
	color: var(--col01);
}

main {
	min-height: 100vh;
	height: fit-content;
	max-width: 750px;
	flex-grow: 1;
	padding: 2rem;
	padding-top: 1rem;
	background-color: var(--white);
	position: sticky;
	display: flex;
	flex-direction: column;
	top: 0;

	h1 {
		margin: 0;
		font-size: 5rem;
		font-family: Atreyu;
		text-shadow: 2px 2px 0 var(--col01);
	}

	h2 {
		font-family: Averia Serif Libre;
	}

	#back {
		display: block;
		margin-top: auto;
	}
}

aside {
	padding: 2rem;

	img {
		width: 100%;
		max-width: 600px;
	}
}



@media (max-width: 700px) {
	body {
		flex-direction: column;
	}

	main {
		position: unset;
	}
}